<!DOCTYPE html>
<!-- 상단 내비게이션 바. -->
<div class="header pb-4" th:fragment="bodyHeader">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home">Techit Community</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{/notice}">공지사항</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/board}">게시판</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">코드리뷰</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item dropdown dropstart">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true" >
              마이페이지
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" th:href="@{/my-page}">내 활동</a></li>
              <li><a class="dropdown-item" th:href="@{/my-page/profile}">프로필 수정</a></li>
              <li><a class="dropdown-item" href="/logout">로그아웃</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>