<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BoardCreate</title>
</head>
<body>
    <h1>BoardCreate</h1>
    <form action="/board/create" method="post" enctype="multipart/form-data">
        <!--사용자가 제공 할 데이터에 알맡은 input과 label을 만든다.-->
        <label for="title-input">제목:
            <input type="text" id = "title-input" name = "title">
        </label>
        <br>
        <label for="content-input">내용:
            <input type="text" id = "content-input" name = "content">
        </label>
        <br>
        <!--파일 선택추가-->
        <input type="file" name="file">
        <br>
        <!--제출 버튼-->
        <input type="submit">
        <a href="/board">Back</a>
    </form>
</body>
</html>