<!DOCTYPE html>
<html lang="en">
<!-- 이 코드를 적으면 fragments에 header파일이 불러와 집니다.(css, js파일 불러오기) -->
<head th:replace="~{fragments/header :: header}"/>
<head>
  <meta charset="UTF-8">
  <title>Delete</title>
</head>
<body>
<!-- 이 코드를 적으면 fragments에 bodyheader파일이 불러와 집니다(상단바) -->
<div th:replace="~{fragments/bodyHeader :: bodyHeader}"/>
<h1>Delete [[${board.title}]]?</h1>
<form th:action="@{/{id}/delete (id=${board.id})}" method="post">
  <!--create/ update 와는 다르게
  delete 경우 추가적인 데이터를 필요로 하지 않는다.
  그래서 추가적인 input요소 없이 input type="submit" 만 만들면 됨-->
  <input type="submit" value="Delete">
</form>
<a th:href="@{/{id} (id=${board.id})}">Back</a>
<!-- 이 코드를 적으면 fragments에 footer 파일이 불러와 집니다(하단 footer) -->
<div th:replace="~{fragments/footer :: footer}" />
</body>
</html>