<!DOCTYPE html>
<html lang="en">
<head>
    <!-- 이 코드를 적으면 fragments에 header파일이 불러와 집니다.(css, js파일 불러오기) -->
    <head th:replace="~{fragments/header :: header}"/>
    <meta charset="UTF-8">
    <title>Join</title>
</head>
<body>
<!-- 이 코드를 적으면 fragments에 bodyheader파일이 불러와 집니다(상단바) -->
<div th:replace="~{fragments/bodyHeader :: bodyHeader}"/>
  <h1>회원가입</h1>
  <form th:action="@{/join}" method="post" onsubmit="return validateForm()">
      <label for="realName">성명:</label>
      <input type="text" id="realName" name="realName" required autofocus><br>

      <label for="name">닉네임:</label>
      <input type="text" id="name" name="name" required autofocus><br>

      <label for="email">이메일 주소(ID):</label>
<!--      security에서 ID가 되는 것은 username으로 지칭해야함  -->
      <input type="email" id="email" name="username" required><br>

      <label for="password">비밀번호:</label>
      <input type="password" id="password" name="password" minlength="4" required><br>

      <label for="passwordCheck">비밀번호확인:</label>
      <input type="password" id="passwordCheck" name="passwordCheck" required><br>

      <!-- 비밀번호와 비밀번호확인이 일치하지 않는 경우 메시지 표시 -->
      <p id="passwordMismatch" style="color: red; display: none;">
          비밀번호가 일치하지 않습니다.
      </p>

      <label for="phoneNumber">휴대폰 번호:</label>
      <input type="number" id="phoneNumber" name="phoneNumber" required><br>
      <button th:onclick="'window.location.href = \'/login\''">로그인 하러가기</button>
      <input type="submit" value="가입하기">

      <!-- 중복된 이메일인 경우 에러 메시지 표시 -->
      <div style="color: red;">
          [[${error}]]
      </div>
  </form>

  <script>
      function validateForm() {
          const password = document.getElementById('password').value;
          const passwordCheck = document.getElementById('passwordCheck').value;
          const passwordMismatchMessage = document.getElementById('passwordMismatch');

          if (password !== passwordCheck) {
              passwordMismatchMessage.style.display = 'block';
              return false; // Prevent form submission
          } else {
              passwordMismatchMessage.style.display = 'none';
              return true; // Allow form submission
          }
      }
  </script>
  <!-- 이 코드를 적으면 fragments에 footer 파일이 불러와 집니다(하단 footer) -->
  <div th:replace="~{fragments/footer :: footer}" />
</body>
</html>