<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Join</title>
</head>
<body>
  <h1>회원가입</h1>
  <form th:action="@{/join}" method="post">
      <label for="realName">성명:</label>
      <input type="text" id="realName" name="realName" required autofocus><br>

      <label for="name">닉네임:</label>
      <input type="text" id="name" name="name" required autofocus><br>

      <label for="email">이메일 주소(ID):</label>
      <input type="email" id="email" name="email" required><br>

      <label for="userpassword">비밀번호:</label>
      <input type="password" id="userpassword" name="password" required><br><br>

      <label for="phoneNumber">휴대폰 번호:</label>
      <input type="text" id="phoneNumber" name="phoneNumber" required><br>

      <input type="submit" value="가입하기">

      <!-- 중복된 이메일인 경우 에러 메시지 표시 -->
      <div style="color: red;">
          [[${error}]]
      </div>
  </form>
</body>
</html>