<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Join</title>
</head>
<body>
  <h1>회원가입</h1>
  <form th:action="@{/complete-join}" method="post">
      <label for="username">이름:</label>
      <input type="text" id="username" name="username" required autofocus><br>

      <label for="useremail">이메일 주소(ID):</label>
      <input type="email" id="useremail" name="email" required><br>

      <label for="userpassword">비밀번호:</label>
      <input type="password" id="userpassword" name="password" required><br><br>

      <label for="phoneNumber">휴대폰 번호:</label>
      <input type="text" id="phoneNumber" name="phoneNumber" required><br>

      <input type="submit" value="가입하기">
  </form>
</body>
</html>