<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form th:action="@{/login}" method="post">
        <label for="useremail" >아이디(email):</label>
        <input type="email" id="useremail" name="email" required autofocus><br>
        <label for="userpassword">비밀번호:</label>
        <input type="password" id="userpassword" name="password" required><br><br>
        <button th:onclick="'window.location.href = \'/join-view\''">회원가입</button>
        <input type="submit" value="login">
</form>
</body>
</html>