<!DOCTYPE html>

<head th:replace="~{fragments/header :: header}"/>

<body>
<div th:replace="~{fragments/bodyHeader :: bodyHeader}"/>
<div class="d-flex flex-row">

    <nav th:replace="~{fragments/sidebar :: sidebar}"/>

    <div class="card w-90 col-sm-9 ms-3 pt-3 pb-3 pe-3 ps-3">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <button th:class="'nav-link ' + (${tabValue} == 'boards' ? 'active' : '')" th:aria-selected="(${tabValue} == 'boards' ? 'true' : 'false')" th:onclick="|location.href='@{/my-page/boards}'|" id="boards-tab" data-bs-toggle="tab" data-bs-target="#boards-tab-pane" type="button" role="tab" aria-controls="boards-tab-pane">내가 쓴 게시글</button>
            </li>
            <li class="nav-item">
                <button th:class="'nav-link ' + (${tabValue} == 'comments' ? 'active' : '')" th:aria-selected="(${tabValue} == 'comments' ? 'true' : 'false')" th:onclick="|location.href='@{/my-page/comments}'|" id="comments-tab" data-bs-toggle="tab" data-bs-target="#comments-tab-pane" type="button" role="tab" aria-controls="comments-tab-pane" >내가 쓴 댓글</button>
            </li>
            <li class="nav-item">
                <button th:class="'nav-link ' + (${tabValue} == 'likes-boards' ? 'active' : '')" th:aria-selected="(${tabValue} == 'likes-boards' ? 'true' : 'false')" th:onclick="|location.href='@{/my-page/likes-boards}'|" id="likes-boards-tab"  data-bs-toggle="tab" data-bs-target="#likes-boards-tab-pane" type="button" role="tab" aria-controls="likes-boards-tab-pane">좋아요 표시한 글</button>
            </li>
            <li class="nav-item">
                <button th:class="'nav-link ' + (${tabValue} == 'likes-comments' ? 'active' : '')" th:aria-selected="(${tabValue} == 'likes-comments' ? 'true' : 'false')" th:onclick="|location.href='@{/my-page/likes-comments}'|" id="likes-comments-tab" data-bs-toggle="tab" data-bs-target="#likes-comments-tab-pane" type="button" role="tab" aria-controls="likes-comments-tab-pane">좋아요 표시한 댓글</button>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade show active" th:id="${tabValue} + '-tab-pane'">
                <div class="card mt-2" th:if="${myContents.isEmpty()}">
                    <p>비어 있습니다.</p>
                </div>
                <div class="card mt-2" th:unless="${myContents.isEmpty()}" th:each="content : ${myContents}">
                    <div th:replace="~{fragments/myContent :: ${tabValue}}"/>
                </div>
                <nav aria-label="Page navigation" >
                    <ul class="pagination justify-content-center mt-3"
                        th:with="maxApearancePages=4, lastPage=${myContents.totalPages},
                        start=${(myContents.number/maxApearancePages) * maxApearancePages + 1},
                        end=(${(lastPage == 0) ? 1 : (start + (maxApearancePages - 1) < lastPage ? start + (maxApearancePages - 1) : lastPage)})">
                        <li class="page-item" >
                            <a class="page-link" th:href="@{'/my-page/' + ${tabValue} + '?page=0'}" th:text="'&laquo;'" ></a>
                        </li>
                        <li class="page-item" >
                            <a class="page-link" th:href="@{'/my-page/' + ${tabValue} + '?page=' + ${ (start == 1) ? 0 : start - 2}}" th:text="'&lsaquo;'" ></a>
                        </li>
                        <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}">
                            <a class="page-link" th:text="${page}" th:href="@{'/my-page/' + ${tabValue} + '?page=' + ${page - 1}}" ></a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" th:href="@{'/my-page/' + ${tabValue} + '?page=' + ${ (end == lastPage) ? end - 1 : end }}" th:text="'&rsaquo;'"></a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" th:href="@{'/my-page/' + ${tabValue} + '?page=' + ${lastPage - 1}}" th:text="'&raquo;'"></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}" />
</body>
</html>