<!DOCTYPE html>
<head>
    <!-- 이 코드를 적으면 fragments에 header파일이 불러와 집니다.(css, js파일 불러오기) -->
    <head th:replace="~{fragments/header :: header}"/>
</head>
<body>
<!-- 이 코드를 적으면 fragments에 bodyheader파일이 불러와 집니다(상단바) -->
<div th:replace="~{fragments/bodyHeader :: bodyHeader}"/>
<div class="d-flex flex-row">

    <nav class="nav flex-sm-column ms-2">
        <a class="nav-link active" aria-current="page" href="/my-page">내 글</a>
        <a class="nav-link" href="/my-page/profile">프로필</a>
        <a class="nav-link" href="#">알림 설정</a>
        <a class="nav-link disabled">차단유저 관리</a>
    </nav>

    <div class="card w-90 col-sm-9 ms-3 pt-3 pb-3 pe-3 ps-3">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <button class="nav-link active" id="article-tab" data-bs-toggle="tab" data-bs-target="#article-tab-pane" type="button" role="tab" aria-controls="article-tab-pane" aria-selected="true">내가 쓴 게시글</button>
            </li>
            <li class="nav-item">
                <button class="nav-link" id="comment-tab" data-bs-toggle="tab" data-bs-target="#comment-tab-pane" type="button" role="tab" aria-controls="comment-tab-pane" aria-selected="false">내가 쓴 댓글</button>
            </li>
            <li class="nav-item">
                <button class="nav-link" id="likes-article-tab" data-bs-toggle="tab" data-bs-target="#likes-article-tab-pane" type="button" role="tab" aria-controls="likes-article-tab-pane" aria-selected="false">좋아요 표시한 글</button>
            </li>
            <li class="nav-item">
                <button class="nav-link" id="likes-comment-tab" data-bs-toggle="tab" data-bs-target="#likes-comment-tab-pane" type="button" role="tab" aria-controls="likes-comment-tab-pane" aria-selected="false">좋아요 표시한 댓글</button>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade show active" id="article-tab-pane">
                <div class="card mt-2" th:if="${myArticleList.isEmpty()}">
                    <p>작성한 글이 없습니다.</p>
                </div>
                <div class="card mt-2" th:unless="${myArticleList.isEmpty()}" th:each="article : ${myArticleList}" >
                    <div class="row justify-content-between">
                        <div class="col-9 pt-1 ms-2">
                            <h5 class="card-title">[[${article.content.title}]]</h5>
                            <p class="card-text">[[${article.content.content}]]...</p>
                        </div>
                        <div class="col-2 me-2 align-self-center">
                            <a href="#" class="btn btn-primary float-end">수정</a>
                            <a href="#" class="btn btn-primary float-end">삭제</a>
                        </div>
                    </div>
                </div>
                <nav aria-label="Page navigation" >
                    <ul class="pagination justify-content-center mt-3"
                        th:with="maxApearancePageNum=4, lastPage = ${myArticleList.totalPages},
                        start=${(myArticleList.number/maxApearancePageNum) * maxApearancePageNum + 1},
                        end=(${(lastPage == 0) ? 1 : (start + (maxApearancePageNum - 1) < lastPage ? start + (maxApearancePageNum - 1) : lastPage)})">
                        <li class="page-item" >
                            <a class="page-link" th:href="@{/my-page?page=0}" th:text="'&laquo;'" ></a>
                        </li>
                        <li class="page-item" >
                            <a class="page-link" th:href="@{/my-page(page=${ (start == 1) ? 0 : start - 2})}" th:text="'&lsaquo;'" ></a>
                        </li>
                        <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}">
                            <a class="page-link" th:text="${page}" th:href="@{/my-page(page=${page - 1})}" ></a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" th:href="@{/my-page(page=${ (end == lastPage) ? end - 1 : end })}" th:text="'&rsaquo;'"></a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" th:href="@{/my-page(page=${lastPage - 1})}" th:text="'&raquo;'"></a>
                        </li>
                    </ul>
                </nav>

            </div>

            <div class="tab-pane fade" id="comment-tab-pane">
                <div class="card mt-2" th:if="${myCommentList.isEmpty()}">
                    <p>작성한 댓글이 없습니다.</p>
                </div>
                <div class="card mt-2" th:unless="${myCommentList.isEmpty()}" th:each="comment : ${myCommentList}">
                    <div class="row justify-content-between">
                        <div class="col-9 pt-1 ms-2">
                            <h5 class="card-title">[[${comment.board.content.title}]]</h5>
                            <p class="card-text">[[${comment.comment}]]...</p>

                        </div>
                        <div class="col-2 me-2 align-self-center">
                            <a href="#" class="btn btn-primary float-end">수정</a>
                            <a href="#" class="btn btn-primary float-end">삭제</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="likes-article-tab-pane">
                <div class="card mt-2" th:if="${myArticleLikesList.isEmpty()}">
                    <p>좋아요한 글이 없습니다.</p>
                </div>
                <div class="card mt-2" th:unless="${myArticleLikesList.isEmpty()}" th:each="article : ${myArticleLikesList}" >
                    <div class="row justify-content-between">
                        <div class="col-9 pt-1 ms-2">
                            <h5 class="card-title">[[${article.content.title}]]</h5>
                            <p class="card-text">[[${article.content.content}]]...</p>
                        </div>
                        <div class="col-2 me-2 align-self-center">
                            <a href="#" class="btn btn-primary float-end">좋아요 취소</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="tab-pane fade" id="likes-comment-tab-pane">
                <div class="card mt-2" th:if="${myCommentLikesList.isEmpty()}">
                    <p>좋아요한 댓글이 없습니다.</p>
                </div>
                <div class="card mt-2" th:unless="${myCommentLikesList.isEmpty()}" th:each="comment : ${myCommentLikesList}">
                    <div class="row justify-content-between">
                        <div class="col-9 pt-1 ms-2">
                            <h5 class="card-title">[[${comment.board.content.title}]]</h5>
                            <p class="card-text">[[${comment.comment}]]...</p>

                        </div>
                        <div class="col-2 me-2 align-self-center">
                            <a href="#" class="btn btn-primary float-end">좋아요 취소</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- 이 코드를 적으면 fragments에 footer 파일이 불러와 집니다(하단 footer) -->
<div th:replace="~{fragments/footer :: footer}" />
</body>
</html>