<!DOCTYPE html>
<head>
  <!-- 이 코드를 적으면 fragments에 header파일이 불러와 집니다.(css, js파일 불러오기) -->
  <head th:replace="~{fragments/header :: header}"/>
</head>
<body>
<!-- 이 코드를 적으면 fragments에 bodyheader파일이 불러와 집니다(상단바) -->
<div th:replace="~{fragments/bodyHeader :: bodyHeader}"/>
<div class="d-flex flex-row">

  <nav th:replace="~{fragments/sidebar :: sidebar}"/>

  <div class="card w-90 col-sm-9 ms-3 pt-3 pb-3 pe-3 ps-3">
    <div class="card mt-2">
      <div class="row justify-content-between">
        <div class="col-9 pt-1 ms-2">

          <h3 class="card-title">프로필 이미지 변경</h3>
          <form enctype="multipart/form-data" action="@{/filecons/${user.id}" method="post">
            <label for="image">프로필 이미지</label>
            <br>
            <input type="file" class="form-control" id="image" name="fileCon" placeholder="프로필 이미지를 등록해주세요">
            <input type="submit" class="btn btn-primary" value="변경하기">
            <br>
          </form>

          <h3 class="card-title">프로필 문구 변경</h3>
          <form action="@{/my-page/profile/${id}/content " th:method="post">
            <label for="bio">자기 소개</label>
            <br>
            <input type="text" class="form-control" id="bio" name="content" placeholder="자기소개를 입력해주세요">
            <input type="submit" class="btn btn-primary" value="변경하기">
            <br>
          </form>

          <h3 class="card-title">닉네임 변경</h3>
          <form th:action="@{/my-page/profile/{id}/name (id=${user.id})}" method="post" >
            <label for="name">닉네임</label>
            <br>
            <input type="text" class="form-control" id="name" name="name" th:placeholder="${user.name}">
            <input type="submit" class="btn btn-primary" value="변경하기">
            <br>
          </form>

          <h3 class="card-title">이메일 변경</h3>
          <form th:action="@{/my-page/profile/{id}/email (id=${user.id})}" method="post">
            <label for="email">이메일</label>
            <br>
            <input type="text" class="form-control" id="email" name="email" th:placeholder="${user.email}">
            <input type="submit" class="btn btn-primary" value="변경하기">
            <br>
          </form>

          <h3 class="card-title">비밀번호 변경</h3>
          <form th:action="@{/my-page/profile/{id}/password (id=${user.id})}" method="post">
            <label for="password">현재 비밀번호</label>
            <br>
            <input type="text" class="form-control" id="password" name="password" placeholder="현재 비밀번호">
            <br>
            <label for="newpassword">새 비밀번호</label>
            <br>
            <input type="text" class="form-control" id="newpassword" name="newPassword" placeholder="새 비밀번호">
            <br>
            <label for="newpasswordcheck">새 비밀번호 확인</label>
            <br>
            <input type="text" class="form-control" id="newpasswordcheck" name="newPasswordCheck" placeholder="새 비밀번호 확인">
            <input type="submit" class="btn btn-primary" value="변경하기">
            <br>
          </form>

          <h3 class="card-title">휴대폰 번호 변경</h3>
          <form th:action="@{/my-page/profile/{id}/phonenumber (id=${user.id})}" method="post">
            <label for="phonenumber">휴대폰 번호</label>
            <br>
            <input type="text" class="form-control" id="phonenumber" name="phoneNumber" th:placeholder="${user.phoneNumber}">
            <input type="submit" class="btn btn-primary" value="변경하기">
            <br>
          </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- 이 코드를 적으면 fragments에 footer 파일이 불러와 집니다(하단 footer) -->
<div th:replace="~{fragments/footer :: footer}" />
</body>
</html>