<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<!-- 이 코드를 적으면 fragments에 header파일이 불러와 집니다.(css, js파일 불러오기) -->
<head th:replace="~{fragments/header :: header}"/>

<body>
<!-- 이 코드를 적으면 fragments에 bodyheader파일이 불러와 집니다(상단바) -->
<div th:replace="~{fragments/bodyHeader :: bodyHeader}"/>
<h1>Update Student</h1>
<form th:action="@{/notice/{id}/update (id=${notice.id})}" method="post">
    <!--  사용자가 제공할 데이터에 알맞은 input과 label을 만든다.  -->
    <label for="title-input">
        Title: <input id="title-input" name="title" th:value="${notice.title}">
    </label>
    <br>
    <label for="content-input">
        Content: <input id="content-input" name="content" th:value="${notice.content}">
    </label>
    <br>
    <!--  데이터 제출 버튼  -->
    <input type="submit">
</form>
<!--  <a href="/home">Back</a>-->
<a th:href="@{/notice/{id} (id=${notice.id})}">Back</a>
</body>
</html>