<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<!-- 이 코드를 적으면 fragments에 header파일이 불러와 집니다.(css, js파일 불러오기) -->
<head th:replace="~{fragments/header :: header}"/>

<body>
<!-- 이 코드를 적으면 fragments에 bodyheader파일이 불러와 집니다(상단바) -->
<div th:replace="~{fragments/bodyHeader :: bodyHeader}"/>
<h1>[[${notice.id}]]. [[${notice.title}]]</h1>
<p>[[${notice.content}]]</p>

<a href="/notice">Back</a>
<!-- /{id}/update-view -->
<a th:href="@{/notice/{id}/update-view (id=${notice.id})}">Update</a>
<!-- /{id}/delete-view -->
<a th:href="@{/notice/{id}/delete-view (id=${notice.id})}">Delete</a>



</body>
</html>