<!DOCTYPE html>
<html lang="en">
<!-- 이 코드를 적으면 fragments에 header파일이 불러와 집니다.(css, js파일 불러오기) -->
<head th:replace="~{fragments/header :: header}"/>
    <meta charset="UTF-8">
    <title>addNotice</title>
</head>


<body>
<!-- 이 코드를 적으면 fragments에 bodyheader파일이 불러와 집니다(상단바) -->
<div th:replace="~{fragments/bodyHeader :: bodyHeader}"/>
<h1>공지 등록</h1>
<form th:action="@{/notice/add}" method="post" style="line-height: 50px">
    <label for="title">제목: <input id="title" name="title"></label>
    <br>
<!--    <label for="file">파일 첨부: </label>-->
<!--    파일 첨부-->
    <input type="file" name="uploadfile">
    <br>
    <label for="content">내용: <input id="content" name="content" style="width:1000px; height:200px;"></label>
    <br>
    <input type="submit">
</form>
</body>
</html>