<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>[[${board.id}]]. [[${board.title}]]</h1>
<p>내용: [[${board.content}]]</p>
<!-- 조회수 표시 -->
<p>조회수: [[${board.viewCount}]]</p>
<!-- 좋아요 수 표시 -->
<p>좋아요 수: [[${board.likesCount}]]</p>
<div>
    <!-- 좋아요 버튼 -->
    <form th:action="@{/board/{id}/like(id=${board.id})}" method="post" style="display: inline;">
        <input type="submit" value="좋아요">
    </form>
    <!-- 좋아요 취소 버튼 -->

</div>
<br/>
<!--comment section-->
<div>
    <form th:action="@{/board/{id} (id=${board.id})}" method="post" style="display: inline;">
        <input type="text" id="content" name="comment" class="form-control" placeholder="댓글을 입력해주세요.." aria-label="댓글을 입력해주세요.." aria-describedby="basic-addon2">
        <button class="btn btn-primary">등록</button>
    </form>
</div>
<br>
<div>
    <!-- 첨부 파일 다운로드 링크 -->
    <p>첨부 파일:</p>
    <div th:if="${board.file}">
        <p>첨부 파일: <a th:href="@{|/board/${board.id}/download|}" th:text="${board.file.name}" download="${board.file.name}">${board.file.name}</a></p>
    </div>
</div>


<br>
<p>댓글 목록</p>

<div th:each="commentDTO: ${commentList}">
    <p>작성자: [[${commentDTO.username}]]</p>
    <p>내용: [[${commentDTO.comment}]]</p>
    <!-- 수정하기 버튼 -->
    <div th:if="${commentDTO.username == sessionDto.name}">
        <button type="button" th:text="${commentDTO.editButton ? '수정 취소' : '수정하기'}" onclick="toggleEditBox('editBox-${commentDTO.id}')"></button>
        <div id="editBox-${commentDTO.id}" th:style="${commentDTO.editButton ? '' : 'display: none;'}">
            <form th:action="@{/board/{boardId}/comment/{commentId}/update(boardId=${id}, commentId=${commentDTO.id})}" method="post">
                <input type="text" name="comment" th:value="${commentDTO.comment}" />
                <button type="submit">저장</button>
            </form>
        </div>
    </div>
    <!--삭제하기 버튼-->
    <div th:if="${commentDTO.username == sessionDto.name}">
        <form th:action="@{/board/{boardId}/comment/{commentId}/delete(boardId=${id}, commentId=${commentDTO.id})}" method="post">
            <button type="submit">삭제하기</button>
        </form>
    </div>


</div>

<script>
    function toggleEditBox(boxId) {
        const editBox = document.getElementById(boxId);
        editBox.style.display = (editBox.style.display === 'none') ? '' : 'none';
    }

</script>



<a href="/board">뒤로가기</a>
<a th:href="@{/{id}/update-view(id=${board.id})}">게시글 수정하기</a>
<a th:href="@{/{id}/delete-view(id=${board.id})}">게시글 삭제하기</a>
</body>
</html>

