<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>[[${board.id}]]. [[${board.title}]]</h1>
<p>내용: [[${board.content}]]</p>
<!-- 조회수 표시 -->
<p>조회수: [[${board.viewCount}]]</p>
<!-- 좋아요 수 표시 -->
<p>좋아요 수: [[${board.likesCount}]]</p>
<div>
    <!-- 좋아요 버튼 -->
    <form th:action="@{/board/{id}/like(id=${board.id})}" method="post" style="display: inline;">
        <input type="submit" value="좋아요">
    </form>
    <!-- 좋아요 취소 버튼 -->
    <form th:action="@{/board/{id}/unlike(id=${board.id})}" method="post" style="display: inline;">
        <input type="submit" value="좋아요 취소">
    </form>
</div>
<br/>
<!--comment section-->
<div>
    <form th:action="@{/board/{id} (id=${board.id})}" method="post" style="display: inline;">
        <input type="text" id="content" name="comment" class="form-control" placeholder="댓글을 입력해주세요.." aria-label="댓글을 입력해주세요.." aria-describedby="basic-addon2">
        <button class="btn btn-primary">등록</button>
    </form>
</div>


<p>댓글 목록</p>

<!--<div th:each="comment: ${board.comments}">-->
<div th:each="comment: ${commentList}">
    <!--<p>번호: [[${comment.id}]]</p>-->
    <p>내용: [[${comment.comment}]]</p>
</div>

<a href="/board">뒤로가기</a>
<a th:href="@{/{id}/update-view(id=${board.id})}">게시글 수정하기</a>
<a th:href="@{/{id}/delete-view(id=${board.id})}">게시글 삭제하기</a>
</body>
</html>

